<template>
  <div>
    <div class="settings" v-show="hideLink">
      <div class="setting-box">
        <a  :href="'/accounting/invoice/get-certificate' | url">
          <div>
            <i class="fa fa-file"></i>
          </div>
          Create Invoice
        </a>
      </div>
      <div class="setting-box">
        <a  :href="'/accounting/invoice/' | url">
          <div class="">
            <i class="fa fa-file-text"></i>
          </div>
          Manage Invoice
        </a>
      </div>
      <div class="setting-box">
        <a :href="'/accounting/statistics/' | url">
          <div>
            <i class="fa fa-line-chart"></i>
          </div>
          Accounting Statistics
        </a>

      </div>
    </div>

    <div class="search-box" v-show="!hideLink">
      <form class="form-inline" :action="'/accounting/manage/invoice/search' | url">
        <input class="form-control" name="query" type="search" />
        <select class="form-control" name="type" required>
          <option value="">Search By</option>
          <option value="invoice-id">Invoice ID</option>
          <option value="certificate-number">Certificate Number</option>
        </select>
        <input type="submit" class="btn btn-primary" value="Search"/>
      </form>
    </div>

    <div class="line-break">
      <a class="icon" @click="search" v-show="hideLink"><i class="fa fa-search"></i> Search for invoice to manage</a>
      <a class="icon" @click="link" v-show="!hideLink"><i class="fa fa-link"></i> Show Invoice Links</a>
    </div>

  </div>

</template>

<script>
  export default {
    data () {
      return {
        hideLink: true,
        host: ''
      }
    },
    methods: {
      search() {
        this.hideLink = false
      },
      link() {
        this.hideLink = true
      }
    },
    mounted() {
      console.log(window);
    }
  }
</script>

<style scoped>
  .search-box {
    width: 450px;
    margin: auto;
    transition: width 0.2s, margin 0.2s;
  }
  .icon {
    background-color: rgb(168, 215, 31);
    padding: 3px 0;
    width: 300px;
    color: white;
    display: block;
    text-align: center;
    margin: auto;
    cursor: pointer;
  }
</style>
