<template>
  <div class="row certificate-addon">
    <div class="col-md-12">
      <div class="form-group">

        <label for="">Raise Invoice:</label><br />
        <input type="checkbox" name="raise-invoice" v-model="raiseInvoice"/>
      </div>
      <div v-if="raiseInvoice">
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label for="">Expiry Date:</label>
              <input type="date" class="form-control" name="expiry_date" id="" placeholder="">
            </div>
          </div>

          <div class="col-md-5">
            <div class="form-group">
              <label for="">Customer Name:</label>
              <input type="text" class="form-control" v-model="name" id="" placeholder="" disabled>
            </div>
          </div>
        </div>

          <div class="">

              <div class="mark-as">
                Mark Invoice As
              </div>
              <div class="row">
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="">Paid:</label><br />
                    <input type="radio" name="paid" value="paid"/>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group">
                    <label for="">UnPaid:</label><br />
                    <input type="radio" name="paid" value="unpaid"/>
                  </div>
                </div>

                <div class="col-md-8">
                  <label for="">Amount:</label>

                  <div class="input-group">

                    <div class="input-group-addon">&#8358;</div>
                    <input type="text" name="amount" v-model="amount" class="form-control"/>
                  </div>
                </div>
              </div>

          </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['amount', 'name', 'invoice'],
  data () {
    return {
      raiseInvoice: false
    }
  },
  mounted () {
    if (this.invoice === 'true') {
      this.raiseInvoice = true
    }
  }
}
</script>

<style scoped>
  .certificate-addon {
    box-shadow: 1px 1px 1px rgb(168, 215, 31);
    margin-bottom: 20px;
  }
  .mark-as {
    background-color: rgb(168, 215, 31);
    display: inline-block;
    color: white;
    margin-top: -10px;
    margin-bottom: 10px;
    padding: 5px;
    border-left: 2px solid black;
  }
</style>
