<template>
  <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
          <i class="fa fa-bell new-notification top-menu-icon"></i> <span class="caret"></span>
        </a>

        <ul class="dropdown-menu" role="menu">
          <li>
              <a :href="'/certificate/monthly/expiry' | url">
                <!-- <i class="fa fa-envelope msg">  </i> --><span class="number">{{total}}</span> Certificate(s) will expire this month
              </a>
          </li>
        </ul>
    </li>
</template>

<script>
  export default {
    name: "notification",
    data () {
      return {
        total: ''
      }
    },
    mounted () {
      let self = this
      window.axios({
        method: 'POST',
        url: '/certificate/monthly/expiry',
        data: {

        }
      }).then(function (response) {
        self.total= response.data.data
      })
    }
  }

</script>

<style scoped>
.new-notification {
  color: rgb(254, 27, 122);
}
.msg {
  color: rgb(29, 238, 194);
}

.number {
  font-size: 125%;
  color: white;
  background-color: rgb(254, 27, 122);
  font-weight: bold;
  padding: 4px;
  border-radius: 20px;
  margin-left: 3px;
}
</style>
