@media only screen and (max-width: 960px) {
  .side-menu {
    font-size: 115%;
    transition: font-size 0.8s;
  }

  .side-nav {
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 230px;
    height: 100vh;
  }

  .content {
    margin-top: 50px;
    margin-right: 10px;
    margin-left: 240px;
  }
}

@media only screen and (max-width: 608px) {
  .setting-box i {
    font-size: 150%;
    color: black;
  }
}

@media only screen and (max-width: 800px) {

  .side-menu:hover {
    margin-left: 5px;
    transition: margin-left 0.7s;
  }

  .side-menu {
    font-size: 115%;
    transition: font-size 0.8s;
  }

  .side-nav {
    display: none;
    transition: display 0.8s;
  }

  .min-side-nav i {
    color: white;
  }

  .min-side-nav i:hover {
    color: black;
  }

  .min-side-nav {
    display: block;
    transition: display 0.8s;
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 50px;
    height: 100vh;
  }

  .content {
    margin-top: 50px;
    margin-right: 10px;
    margin-left: 50px;
  }
  .panel-content {
    margin: 15px 15px;
  }

  .panel-content .panel-body {
    margin: 15px 15px;
  }
}
