@media print {
  .table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
    padding: 1px;
  }
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 5px;
  }

  .print-table {
      width: 100%;
  }

  .phone-footer {
    color: red !important;
  }

  table.my-table-logo, th.my-table-logo, td.my-table-logo  {
    border: 0px solid black;
  }

  table.my-table, th, td {
    border: 1px solid black;
  }

  p {
    line-height: 10px;
  }

  .signatory {
    line-height: 8px;
  }

  h4.line-black {
    border-bottom: 2px black solid;
    padding-bottom: 2px;
  }

  h4.line {
    border-bottom: 2px red solid;
  }

  hr {
    background-color: red !important;
    color: red;
    padding-bottom: 2px !important;
    margin-bottom: 2px !important;
  }

  body,html {
    font-size: 76%;
  }



  tr {
    line-height: 5px;
    min-height: 5px;
    height: 18px;
  }

  td {
    height: 5px;
    padding: 5px;
  }

  th {
      padding: 5px;
  }

  .btn {
    display: none;
  }
  
  .container-fluid {
    margin-left: 0 !important; 
  }
  .notice {
    color: rgb(60, 124, 249) !important;
  }

  .print-footer {
    position: fixed;
    bottom: 0;
    display:block;
    margin-top: 10px;
    margin-bottom: 4px;
  }

  /* #header {
    position: fixed;
    top: 0;
  } */

  #wrapper {
    position: relative;
    margin-top: 1.5in;
    bottom: 1.5in;
}
  .page-body {
    position: relative;
  }
  .cert-title {
    color: red !important;
  }
  .company-name span {
    font-size: 220%;
    color: rgb(0, 41, 124) !important;
  }
  
  .solas {
    color: rgb(0, 41, 124) !important;
    font-size: 110%;
    font-weight: bold;
  }

  .bold {
    font-weight: bold;
  }

  p.no-margin {
    margin: -5px 0px !important;
  }
  .expiry{
    margin-top: 5px;
  }
  .row {
    margin-top: -10px;
    margin-bottom: -10px;
  }
  .company-name hr {
    padding: 0;
    margin: 0;
    height: 5px;
    margin-top: 3px;
    width: 825px;

  }
  hr.blue{
    color: rgb(0, 41, 124) !important;
    background-color: rgb(0, 41, 124) !important;
  }
  hr.red{
    color:  red !important;
    background-color: red !important;
  }
  h4 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  h3 .title {
    color: red !important;
  }
  .table {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .form-group {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .table-responsive {
    margin-top: 0;
    margin-bottom: 0;

  }
}
