
.auth-body {
  background-image:  url('img/bg1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.min-side-nav {
  display: none;
}

.track {
  margin-top: 100px;
  margin-bottom: 30px;
}

.acronym {
  height: 200px;
  overflow-y: scroll;
}

.auth-logo {
  width: 200px;
  height: 120px;
  transform: scale(1.4);
}
.logo {
  width: 200px;
  height: 150px;
}
.top-menu {
  margin-bottom: 0;
}
.side-menu {
  font-size: 125%;
  transition: font-size 0.8s;
}

.side-menu i {
  font-size: 130%;
}

.top-menu-icon {
  font-size: 130%;
  margin-right:5px;
}

.side-menu:hover {
  margin-left: 10px;
  transition: margin-left 0.7s;
}

.certificate-addon {
  color: rgb(111, 111, 111);
  background-color: rgb(241, 241, 235);
  border-radius: 5px;
  padding: 10px;
  margin: 15px 0px;
}

.navbar-header img {
  margin: -50px 0px !important;
}

.space {
  margin-left: 45px;
}

.space label {
  display: block;
}

.side-nav {
  background-color: rgb(0, 0, 0);
  position: fixed;
  width: 250px;
  height: 100vh;
}

.first {
  padding-top: 15px;
  margin-top: 10px;
}

.content {
  margin-top: 50px;
  margin-right: 10px;
  margin-left: 260px;
}

.line-break {
  margin-top: 20px;
}

.side-nav a {
  color: white;
}
.side-nav a:hover {
  color: black;
}

.heading i {
  margin-right: 8px;
}

.heading {
  font-size: 130%;
}

.heading span {
  font-size: 110%;
  font-weight: bold;
}

.heading span::after {
  content: "";
  background-color: rgb(168, 215, 31);
  width: 200px;
  height: 2px;
  margin-bottom: -12px;
  display: block;
}
/*
 * Dashboard
 */

.row .data {
  border-radius: 8px;
  margin: 10px 5px;
  padding: 5px;
  width: 200px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  box-shadow: 1px 1px 2px rgb(112, 112, 109);
}

.data span {
  display: block;
  font-weight: bold;
  font-size: 140%;
}

.data span::after {
  content: "";
  background-color: rgb(168, 215, 31);
  width: 12px;
  height: 2px;
  margin: auto;
  margin-bottom: 12px;
  display: block;
}

.auth {
  margin-top: 40px;
  opacity: 0.9;
}

.top-content {
  margin-top: 12px;
  margin-bottom: 15px;
}

.form-row {
  margin: 15px 0;
}

.table-nav a {
  margin: 0;
  border-radius: 2px;
  padding: 6px;
  background-color: rgb(234, 236, 229);
  margin-right: 8px;
}

.main-content {
  margin-bottom: -5px;
}

.row-space {
  margin-top: 20px;
  margin-bottom: 10px;
}

.space {
  margin-left: 10px;
}

.query span {
  font-size: 120%;
  font-weight: bold;
}

.userSearchResult {
  display: none;
  width: 400px;
  margin-top: 1px;
  box-shadow: 1px 1px 1px rgb(201, 192, 200);
  position: absolute;
  z-index: 1;
  background-color: black;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.userSearchResult li:hover {
  background-color: white;
  color: black;
}

.userSearchResult li {
  color: white;
  list-style: none;
  margin: 0 0;
  margin-left: -40px;
  padding: 10px 20px;

}
/*
  Settings
*/


.settings {
  width: 500px;
  margin: auto;
}

.setting-box a div {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

.setting-box i {
  font-size: 150%;
  color: black;
}
.panel-dark {
  background-color: black;
  color: white;
}
.settings .setting-box {
  background-color: rgb(233, 240, 233);
  display: inline-block;
  margin: 0 10px;
  padding: 15px;
  border-radius: 10px;
}

.setting-box {
  box-shadow: 1px 1px 1px rgb(201, 197, 200);
}

.row-min-space {
  margin-top: 20px;
  margin-bottom: 20px;
}

div.mod-table {
  display: table;
}

div.th {
  font-weight: bold;
}

div.tr, form.tr {
  display: table-row;
}

div.td {
  display: table-cell;
}

div.thead {
  display: table-header-group;
}

div.tbody {
  display: table-footer-group;

}


.img-logo::after {
  content: "RC 485454";
  display: block;
  height: 40px;
  width: 400px;
  margin-top: 20px;
  background-color: black;
}

.company-name span {
  font-size: 300%;
  color: rgb(0, 41, 124) !important;
}

.company-name span::after {
  content: "";
  display: block;
  height: 5px;
  width: 1000px;
  margin-top: -15px;
  background-color: red;
}
