<template>
  <div class="item-view">
      <br/>
      <div class="">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th v-for="(item, index) in collection" v-bind:key="index">{{item}}</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(elem, index) in content" v-bind:key="index">
                <td v-for="(item, i) in elem" v-bind:key="i">
                  {{item}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

  </div>
</template>

<script>
  export default {
    props : {
      collection: {
        type: Array
      },
      content: {
        validator: function (value) {
          return value
        }
      }
    },
    mounted() {
      // console.log(this.content);
    }
  }
</script>

<style scoped>
  .item-view {
    margin-bottom: 20px;
  }

</style>
