<template>
  <div class="col-md-12 item-view" :class="{blur : locking}">
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-default pull-right space" @click.prevent="lock"><i class="fa" :class="[locked ? activeLock : unactiveLock]"></i> Lock</button>
        <button class="btn btn-primary pull-right" @click.prevent="add"><i class="fa fa-plus"></i> Add Row</button>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="table-responsive">
          <input type="hidden" v-bind:name="name"  v-model="items"/>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th v-for="item in collection" v-bind:key="item">{{item}}</th>
              </tr>
            </thead>
            <tbody :id="tbodyId">
              <tr>
                <td v-for="item in collection" v-bind:key="item"><input :name="item + '1'" /></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props : {
      collection : {
        type: Array
      },
      name: {
        default: 'items',
        type: String
      }
    },
    data () {
      return {
        currentSN: 1,
        items: [],
        activeLock: 'fa-lock',
        unactiveLock: 'fa-unlock',
        locked: false,
        locking: false,
        tbodyId: `${Math.floor((Math.random() * 1000) + 1)}tbody`
      }
    },
    methods: {
      add () {
        var row = '';
        var self = this
        for (var i = 0; i < self.collection.length; i++) {
          row += `
          <td>
            <input name="${self.collection[i]}"/>
          </td>`;
        }
        $('#' + self.tbodyId).append('<tr>' + row + '</tr>');
        this.currentSN = this.currentSN + 1;
      },
      lock () {
        var self =  this
        self.locking = true
        self.locked = false
        var elements = $('#' + self.tbodyId)[0].children
        self.items = []
        for (var i = 0, count = elements.length; i < count; i++) {
          var element = elements[i].children
          var content = {}
          for (var j = 0, innerCount = element.length; j < innerCount; j++) {
            var input = element[j].children
            for(var z = 0, innerMostCount = element[j].children.length; z < innerMostCount; z++) {
              let key = input[z].name
              content[key] = input[z].value
            }
          }
          self.items.push(content)
        }

        self.items = JSON.stringify(self.items);
        self.locked = true
        console.log(self.items)
        // self.locking = false
      }
    },
    mounted() {

    }
  }
</script>

<style>
.blur {
  opacity: 0.2;
  transition: opacity 0.8s;
}
.item-view {
  margin-bottom: 20px;
}


</style>
