<template>
  <div>
    <div class="col-md-4 col-lg-4">
      <monthly-income v-if="dataLoading" :description="'Paid Invoice created over time.'" :data="paidData" :label="label"></monthly-income>
    </div>
    <div class="col-md-4 col-lg-4">
      <monthly-income v-if="dataLoading" :description="'Unpaid Invoice created over time.'" :data="unpaidData" :label="label"></monthly-income>
    </div>
    <div class="col-md-4 col-lg-4" :class="">
      <monthly-income v-if="dataLoading" :description="'Invoices created over time.'" :data="totalData" :label="label"></monthly-income>
    </div>
  </div>
</template>

<script>
import MonthlyIncome from './Index.js'
export default {
  components: { MonthlyIncome },
  data () {
    return {
      dataLoading: false,
      paidData: [],
      unpaidData: '',
      totalData: [],
      label: ''
    }
  },
  mounted() {
    var self = this

    window.axios({
      method: 'POST',
      url: '',
      data: {

      }
    }).then(function (response) {
      console.log(response);
      self.paidData= response.data.paid
      self.unpaidData = response.data.unpaid
      self.totalData = response.data.total
      self.label = response.data.label
      self.dataLoading = true
    })
  }
}
</script>

<style>
  .customer-loading {
    opacity: 0.3;
  }
</style>
