<template>
  <div>
    <div class="col-md-4">
      <monthly-income v-if="certificateLoading" :description="'Certificates Created Over Time.'" :data="certificateData" :label="certificateLabel"></monthly-income>
    </div>
    <div class="col-md-4" :class="">
      <monthly-income v-if="customerLoading" :description="'Customers Created Over Time.'" :data="customerData" :label="customerLabel"></monthly-income>
    </div>
    <div class="col-md-4" :class="">
      <monthly-income v-if="expiryLoading" :description="'Certificates Expiring Over Time.'" :data="expiryData" :label="expiryLabel"></monthly-income>
    </div>
  </div>
</template>

<script>
import MonthlyIncome from './Index.js'
export default {
  components: { MonthlyIncome },
  data () {
    return {
      certificateLoading: false,
      customerLoading: false,
      expiryLoading: false,
      expiryData: '',
      expiryLabel: '',
      customerData: '',
      customerLabel: '',
      certificateData: '',
      certificateLabel: ''
    }
  },
  mounted() {
    var self = this

    window.axios({
      method: 'POST',
      url: 'customer/statistics',
      data: {

      }
    }).then(function (response) {
      console.log(response);
      self.customerData= response.data.data
      self.customerLabel = response.data.label
      self.customerLoading = true
    })

    window.axios({
      method: 'POST',
      url: 'certificate/yearly/expiry',
      data: {

      }
    }).then(function (response) {
      console.log(response);
      self.expiryData= response.data.data
      self.expiryLabel = response.data.label
      self.expiryLoading = true
    })

    window.axios({
      method: 'POST',
      url: 'certificate/statistics',
      data: {

      }
    }).then(function (response) {
      console.log(response);
      self.certificateData = response.data.data
      self.certificateLabel = response.data.label
      self.certificateLoading = true
    })
  }
}
</script>

<style>
  .customer-loading {
    opacity: 0.3;
  }
</style>
